# 연습하기

In [4]:
import pandas as pd

fruits = pd.Series(['사과', '바나나', '포도'])
fruits

0     사과
1    바나나
2     포도
dtype: object

In [14]:
df = pd.DataFrame({
    '상품': ['키보드', '마우스', '모니터'],
    '가격': [30000, 15000, 200000],
    '재고': [10, 25, 7]
})
df

    상품      가격  재고
0  키보드   30000  10
1  마우스   15000  25
2  모니터  200000   7

In [15]:
prod_s = df['상품']
prod_s

0    키보드
1    마우스
2    모니터
Name: 상품, dtype: object

In [17]:
prod_df = df[['상품']]
prod_df

    상품
0  키보드
1  마우스
2  모니터

In [20]:
expensive = df.loc[df['가격'] >= 20000, ['상품', '가격']]
expensive

    상품      가격
0  키보드   30000
2  모니터  200000

In [22]:
df.loc[df['상품'] == '마우스', '가격'] = 17000
df

    상품      가격  재고
0  키보드   30000  10
1  마우스   17000  25
2  모니터  200000   7

In [25]:
sub_iloc = df.iloc[0:3, 0:2]
sub_iloc

    상품      가격
0  키보드   30000
1  마우스   17000
2  모니터  200000

In [27]:
df['부가세포함가'] = (df['가격'] * 1.1).astype(int)
df

    상품      가격  재고  부가세포함가
0  키보드   30000  10   33000
1  마우스   17000  25   18700
2  모니터  200000   7  220000

In [29]:
df_sorted_desc = df.sort_values(by = "가격", ascending = False)
df_sorted_desc

    상품      가격  재고  부가세포함가
2  모니터  200000   7  220000
0  키보드   30000  10   33000
1  마우스   17000  25   18700