In [1]:
# 파일 불러오기

import pandas as pd

train = pd.read_csv('./train (1).csv')
test = pd.read_csv('./test (1).csv')

In [2]:
train.isnull().sum().sum()

0

In [3]:
train.describe()

,id,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,20758.00000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000
mean,10378.50000,23.841804,1.700245,87.887768,2.445908,2.761332,2.029418,0.981747,0.616756
std,5992.46278,5.688072,0.087312,26.379443,0.533218,0.705375,0.608467,0.838302,0.602113
min,0.00000,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,5189.25000,20.000000,1.631856,66.000000,2.000000,3.000000,1.792022,0.008013,0.000000
50%,10378.50000,22.815416,1.700000,84.064875,2.393837,3.000000,2.000000,1.000000,0.573887
75%,15567.75000,26.000000,1.762887,111.600553,3.000000,3.000000,2.549617,1.587406,1.000000
max,20757.00000,61.000000,1.975663,165.057269,3.000000,4.000000,3.000000,3.000000,2.000000

In [4]:
train.info()

# id는 지울거야

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  object
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  object
 6   FAVC                            20758 non-null  object
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  object
 10  SMOKE                           20758 non-null  object
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  object
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  object
 16  MTRANS                          20758 non-null  object
 17  NObeyesdad                      20758 non-null  object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ MB

In [5]:
train.describe(include = "O")

,Gender,family_history_with_overweight,FAVC,CAEC,SMOKE,SCC,CALC,MTRANS,NObeyesdad
count,20758,20758,20758,20758,20758,20758,20758,20758,20758
unique,2,2,2,4,2,2,3,5,7
top,Female,yes,yes,Sometimes,no,no,Sometimes,Public_Transportation,Obesity_Type_III
freq,10422,17014,18982,17529,20513,20071,15066,16687,4046

In [6]:
train['NObeyesdad'].value_counts()

NObeyesdad
Obesity_Type_III       4046
Obesity_Type_II        3248
Normal_Weight          3082
Obesity_Type_I         2910
Insufficient_Weight    2523
Overweight_Level_II    2522
Overweight_Level_I     2427
Name: count, dtype: int64

## 데이터 전처리

In [7]:
# id 컬럼 제거
train = train.drop(columns=["id"])
test = test.drop(columns=["id"])

In [8]:
# y값 분리

target = train.pop('NObeyesdad')

# dtype -> 카테고리 변환

target = target.astype('category')
target.info()

<class 'pandas.core.series.Series'>
RangeIndex: 20758 entries, 0 to 20757
Series name: NObeyesdad
Non-Null Count  Dtype
--------------  -----
20758 non-null  category
dtypes: category(1)
memory usage: 20.7 KB

In [9]:
# train / test object -> category

In [10]:

train['family_history_with_overweight'] = train['family_history_with_overweight'].astype('category')
train['Gender'] = train['Gender'].astype('category')
train['FAVC'] = train['FAVC'].astype('category')
train['CAEC'] = train['CAEC'].astype('category')
train['SMOKE'] = train['SMOKE'].astype('category')
train['SCC'] = train['SCC'].astype('category')
train['CALC'] = train['CALC'].astype('category')
train['MTRANS'] = train['MTRANS'].astype('category')

test['family_history_with_overweight'] = test['family_history_with_overweight'].astype('category')
test['Gender'] = test['Gender'].astype('category')
test['FAVC'] = test['FAVC'].astype('category')
test['CAEC'] = test['CAEC'].astype('category')
test['SMOKE'] = test['SMOKE'].astype('category')
test['SCC'] = test['SCC'].astype('category')
test['CALC'] = test['CALC'].astype('category')
test['MTRANS'] = test['MTRANS'].astype('category')

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          20758 non-null  category
 1   Age                             20758 non-null  float64
 2   Height                          20758 non-null  float64
 3   Weight                          20758 non-null  float64
 4   family_history_with_overweight  20758 non-null  category
 5   FAVC                            20758 non-null  category
 6   FCVC                            20758 non-null  float64
 7   NCP                             20758 non-null  float64
 8   CAEC                            20758 non-null  category
 9   SMOKE                           20758 non-null  category
 10  CH2O                            20758 non-null  float64
 11  SCC                             20758 non-null  category
 12  FAF                             20758 non-null  float64
 13  TUE                             20758 non-null  float64
 14  CALC                            20758 non-null  category
 15  MTRANS                          20758 non-null  category
dtypes: category(8), float64(8)
memory usage: 1.4 MB

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(train,
                                                  target,
                                                  test_size=0.2,
                                                  random_state=0)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((16606, 16), (4152, 16), (16606,), (4152,))

## 모델 학습 및 평가

In [15]:
import lightgbm as lgb
# 학습
lgbmc = lgb.LGBMClassifier(random_state=0, verbose=-1)
lgbmc.fit(X_train, y_train)
# 검증
pred = lgbmc.predict(X_val)
pred_proba = lgbmc.predict_proba(X_val)

# verbose : 학습과정 출력여부
# 0: 경고수준출력 1: 일반정보 출력, >2: 제사한 정보 출력
pred_proba

array([[2.90805551e-08, 6.39602101e-08, 4.10839722e-06, ...,
        9.99994651e-01, 1.12529061e-07, 5.59060834e-07],
       [8.63231635e-05, 4.50222123e-02, 1.75378930e-03, ...,
        1.31236325e-04, 9.45185222e-01, 7.79864404e-03],
       [1.12499905e-02, 9.88092184e-01, 1.00491286e-04, ...,
        1.41198513e-05, 4.71605137e-04, 6.07612347e-05],
       ...,
       [5.75651615e-08, 1.10722587e-07, 4.03152631e-06, ...,
        9.99994161e-01, 1.14170031e-07, 4.40521512e-07],
       [1.15931447e-05, 1.33438111e-05, 2.85902112e-03, ...,
        1.19446978e-06, 1.52928117e-05, 4.53855722e-05],
       [3.90555211e-05, 1.64299527e-04, 9.34856361e-01, ...,
        1.79325944e-05, 2.26256282e-03, 6.17659318e-02]])

In [18]:
# 평가(roc_auc, accuracy, f1-score)

from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

roc_auc_ovr = roc_auc_score(y_val, pred_proba, multi_class="ovr")
roc_auc_ovo = roc_auc_score(y_val, pred_proba, multi_class="ovo")
accuracy = accuracy_score(y_val, pred) # pred 예측 y값
f1 = f1_score(y_val, pred, average = 'macro') # pred 예측 y값(클래스별(1,2,3정답값) 성능을 동등하게 반영)

print('roc_auc_ovr: ', roc_auc_ovr)
print('roc_auc_ovo: ', roc_auc_ovo)
print('accuracy: ', accuracy)
print('f1: ', f1)

roc_auc_ovr:  0.9888169248146651
roc_auc_ovo:  0.9874571729788963
accuracy:  0.9051059730250481
f1:  0.8949765427420396

In [21]:
# 예측 파일 제출
pred_submit = lgbmc.predict(test)
pred_submit

submit_csv = pd.DataFrame({'pred':pred_submit})
submit_csv.to_csv("result.csv", index = False)

array(['Obesity_Type_II', 'Overweight_Level_I', 'Obesity_Type_III', ...,
       'Insufficient_Weight', 'Normal_Weight', 'Obesity_Type_II'],
      dtype=object)