# 문제정의
## 고객별 신용등급 분류
## 1- BAD , 2 - STANDARD 3 - GOOD
## 타깃(라벨,y값) : Credit_Score

In [ ]:
# ----------------------------------
# 라이브러리 가져오기
# ----------------------------------

In [1]:
import pandas as pd

train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [4]:
train

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_Mix,...,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
0,56.0,16.0,11.0,35.598217,120.0,Yes,229.093478,252.385965,1,Bad,...,15.0,36597.56,8.0,10.0,29.0,5.0,3143.796667,22.49,2963.18,122.900223
1,49.0,23.0,12.0,25.553106,120.0,Yes,104.613906,219.105944,1,Bad,...,28.0,32057.30,9.0,8.0,16.0,7.0,2606.441667,1.40,1327.26,164.859426
2,34.0,20.0,6.0,40.039954,174.0,Yes,338.626965,251.265589,1,Bad,...,46.0,75868.80,6.0,10.0,32.0,7.0,6074.400000,3.60,1432.71,297.547446
3,21.0,13.0,8.0,25.711678,143.0,NM,116.816864,259.927960,2,Standard,...,46.0,17092.69,7.0,3.0,19.0,7.0,1695.390833,16.40,1417.06,62.794260
4,19.0,13.0,6.0,39.140463,138.0,Yes,87.262887,626.212330,1,Bad,...,45.0,81471.96,6.0,6.0,25.0,5.0,6763.330000,27.09,2679.69,202.857783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,13.0,20.0,1.0,28.311154,358.0,No,160.363681,317.931124,2,Standard,...,25.0,36661.93,6.0,3.0,10.0,4.0,2915.160833,1.16,314.26,73.221279
9996,32.0,13.0,5.0,39.741948,299.0,Yes,278.359264,160.416098,2,Standard,...,48.0,28161.85,8.0,5.0,6.0,4.0,2422.820833,7.72,699.69,93.506721
9997,13.0,9.0,8.0,25.111049,203.0,Yes,39.334921,352.515899,2,Standard,...,36.0,39912.86,3.0,4.0,17.0,6.0,3498.071667,15.72,1734.43,197.956347
9998,10.0,13.0,6.0,32.237478,309.0,Yes,115.463482,354.829742,2,Standard,...,45.0,26918.38,6.0,5.0,10.0,2.0,2442.198333,5.48,1054.90,43.926610
9999,14.0,12.0,2.0,32.525388,288.0,NM,655.490743,636.379413,3,Good,...,50.0,148786.04,4.0,4.0,4.0,3.0,12492.836667,6.71,399.45,237.413511

In [5]:
test

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Mix,Payment_Behaviour,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
0,4.0,8.0,2.0,33.444469,239.0,No,104.467859,503.976904,Good,Low_spent_Small_value_payments,54.0,43754.320,5.0,7.0,7.0,1.0,3938.193333,7.55,515.73,35.374569
1,31.0,19.0,14.0,27.762143,93.0,Yes,149.137974,219.372773,Bad,High_spent_Small_value_payments,40.0,18836.230,6.0,8.0,16.0,6.0,1280.685833,14.26,1310.56,49.557837
2,55.0,16.0,17.0,38.985106,179.0,Yes,21.862086,299.525207,Standard,Low_spent_Small_value_payments,27.0,9360.515,8.0,6.0,15.0,5.0,531.042917,11.92,2113.29,21.716999
3,47.0,20.0,8.0,25.577407,93.0,Yes,170.009215,161.283266,Bad,Low_spent_Small_value_payments,34.0,30386.200,7.0,8.0,21.0,9.0,2650.183333,17.53,4902.83,193.725852
4,26.0,11.0,7.0,36.580166,207.0,Yes,296.552469,177.231449,Standard,High_spent_Medium_value_payments,36.0,49187.070,6.0,6.0,25.0,6.0,3823.922500,12.04,1357.26,198.608332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,27.0,12.0,4.0,38.977305,383.0,Yes,39.695906,472.869011,Standard,High_spent_Medium_value_payments,32.0,38839.220,8.0,4.0,19.0,3.0,3272.601667,1.83,1203.51,64.695250
9996,22.0,19.0,2.0,25.582411,363.0,Yes,89.540202,360.819998,Standard,High_spent_Medium_value_payments,51.0,24251.490,8.0,4.0,14.0,1.0,1991.957500,10.53,1062.17,18.835550
9997,20.0,15.0,11.0,26.764418,233.0,Yes,53.574209,311.419464,Bad,Low_spent_Small_value_payments,45.0,15806.840,6.0,5.0,21.0,3.0,1140.236667,3.41,2580.63,29.029993
9998,60.0,19.0,8.0,35.262194,99.0,NM,46.902804,389.691164,Bad,High_spent_Small_value_payments,40.0,35462.520,8.0,9.0,31.0,4.0,2718.210000,13.14,2371.87,75.227032
9999,56.0,20.0,7.0,28.104679,139.0,Yes,31.318074,284.545251,Bad,Low_spent_Small_value_payments,26.0,10222.150,6.0,5.0,18.0,9.0,899.845833,27.34,4473.83,54.121258